vti_encoding:SR|utf8-nl
vti_author:SR|USMAEDU\\devon.callahan
vti_modifiedby:SR|USMAEDU\\devon.callahan
vti_timelastmodified:TR|30 Jun 2011 19:02:55 -0000
vti_timecreated:TR|29 Jun 2011 14:41:02 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|default.aspx report.aspx
vti_nexttolasttimemodified:TW|30 Jun 2011 19:01:52 -0000
vti_syncofs_it305cadet\:80/cadet/x23456:TW|29 Jun 2011 19:52:36 -0000
vti_syncwith_it305cadet\:80/cadet/x23456:TX|29 Jun 2011 18:29:50 -0000
vti_cacheddtm:TX|30 Jun 2011 19:02:55 -0000
vti_filesize:IR|203
